.button{
	border-radius:4px;
	color: var(--color_3);
}
.new-font{
	font-size: 20px;
	line-height:calc(30/20);
}

/* mode */
.orange{
	background-color:var(--color_2);
}
.gray{
	background-color:var(--color_3);
}
.transparent{
	background-color:transparent;
}

/* size */
.big{
	padding:12px 32px;
}
.small{
	width:48px;
	height:48px;
	display: grid;
	place-items:center;
}

