.layout{
	/* flex:1 1 auto; */
	display:flex;
	height: 100vh;

	max-width:100%;
	margin:0 auto;
	width:100%;
}
.layout__right{
	flex:1 1 auto;
	display: flex;
	flex-direction:column;
	padding:40px 20px 0 20px;

	overflow:hidden;
}
.layout__child {
	flex:1 1 auto;
	overflow-y:auto;
	display: flex;
	flex-direction:column;
	/* padding-bottom:20px; */
}